.stepper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 56px;
}


.stepperStep {
    position: relative;
    display: table-cell;
    text-align: center;
    padding: 0.5rem;
}

.stepperIndicator {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.stepperInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #E6E8EA;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
    margin: 0 25px;
}

.stepper .stepperInfo:after {
    content: " ";
    position: absolute;
    top: 50%;
    width: 39px;
    height: 1px;
    background-color: #E6E8EA;
    z-index: 1;
    margin-left: 90px;
}

.stepper .stepperInfo:before {
    content: " ";
    position: absolute;
    top: 50%;
    width: 39px;
    height: 1px;
    background-color: #E6E8EA;
    z-index: 1;
    margin-right: 90px;
}
