.footerWrapper {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    z-index: 2;
    position: fixed;
    bottom:0;
    width: 100vw;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 -1px 15px rgba(62, 76, 89, 0.04);
    background: #FFFFFF;
    transition: 1s;
    margin-bottom: -200px;
}

.active{
    margin-bottom: 0;
}



